:host {
    display: inline-block;
    max-width: 100px;
    margin: 10px;
}

h4 {
    text-align: center;
    color: red;
}

img {
    max-width: 100%;
}

.health-bar {
    background: red;
    height: 10px;
    margin: 10px 0;
    border-radius: 3px;
}

.remaining-health {
    background: green;
    height: 100%;
    border-radius: 3px;
}

.property-state {
    color: #ffffff;
    display: inline-block;
    font-size: 32px;
}

.property-state:not(.active) {
    opacity: 0.5;
}

.images-wrapper {
    position: relative;
    height: 90px;
    width: 100%;
}

img.space-ship-image {
    max-width: 100px;
    max-height: 100px;
}

img.pilot-image {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 0;
    left: 0;
    border-radius: 5px;
}